# Ignore user uploaded chat images
Module_User_Account_Management/assets/images/*
!Module_User_Account_Management/assets/images/.gitkeep

# Ignore system files
.DS_Store
Thumbs.db
/Module_Platform_Governance_AI_Services/api/config/DeepSeekService.php
/Module_Platform_Governance_AI_Services/api/config/treasurego_db_config.php
